<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>

<body>
	<main>
		<%- include('partials/header', { h1: locals.h1 }) %>
		<section>
			<div>
				<form action="/login" method="post">
					<label for="username">Username:
						<input type="text" id="username" name="name">
					</label>
					<label for="password">Password:
						<input type="password" id="password" name="pass">
					</label>
					<button type="submit">Submit</button>
				</form>
			</div>
		</section>
	</main>
</body>

</html>